:root {
    --primary-color: #1f6f4a;
    --secondary-color: #F4A261;
    --background-color: #ffffff;
    --text-color: #222;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* HEADER */
header {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

/* MAIN */
main {
    padding: 1rem;
    max-width: 980px;
    margin: 0 auto;
}

/* HEADINGS */
h1 {
    color: var(--primary-color);
    text-align: center;
}

h2,
h3 {
    color: var(--primary-color);
}

/* SECTIONS */
section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-left: 6px solid var(--secondary-color);
}

/* LIST */
ul {
    padding-left: 20px;
}

/* IMAGE */
.wireframes img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
}