@media (min-width: 600px) {

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    #cards.grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {

    header {
        text-align: left;
        padding: 1rem 2rem;
    }

    main {
        padding: 2rem;
    }

    /* ONLY override the value */
    #cards.grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 600px) {
    #menuBtn {
        display: none;
    }

    nav ul {
        display: flex;
    }
}

@media (min-width: 641px) {
    #discoverGrid {
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }
}

@media (min-width: 1025px) {
    #discoverGrid {
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card8";
    }

    /* HOVER EFFECT (NOT MOBILE) */
    img:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
        transition: 0.3s;
    }
}