@media (min-width:768px) {

    #hamburger {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: #444;
    }

    nav li {
        margin: 0 1rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    main section:last-child {
        grid-column: span 2;
    }

}